@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body{
    width: 1366px;
    margin: auto;
}

.header{
    width: 1366px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    background-color: #F8F7F1;
}


.logo{
    width: 80px;
    height: 80px;
}

.contacto{
  font-family: 'Gill Sans';
  color: #0D2F3F;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
#icon{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.bot{
    font-size: 18px;
    display: inline;
    align-items: center;
    font-family: 'Roboto Condensed', 'Lucida Sans';
    font-style: inherit;
    padding: 35px;
    color: #0D2F3F;
    font-weight: bold;
    text-decoration:none;
}

.hero{
    width: 100%;
    height: 95vh;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(/images/equisde.png);
    background-repeat: no-repeat;
    background-position: 350px;
    background-size: contain;
    background-color: #F8F7F1;
}


.columnaizq{
    width: 300px;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.columnader{
    width: 300px;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 466px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

#nombre{
    margin-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #0D2F3F;
}

.exps{
    flex-flow: row;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#correo{
  color: orangered;
}

#diez{
    font-family: 'Poppins-bold';
    font-size: 50px;
    color: #0D2F3F;
    font-weight: bolder;
}

#textexp{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

#frase{
    color: #0D2F3F;
    font-family: 'Roboto Condensed', monospace;
}

.campos{
    padding: 50px;
    font-family: 'Roboto Condensed', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#whatdo{
    width: 100hv;
    flex-direction: row;
    display: flex;
    background-color: white;
    margin: 5vh;
}

#columna1a{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row1a{
    width: 500px;
    height: 20vh;
    border-width: 5px;
    box-shadow: 0px 0px 3px 0px grey;
    flex-direction: row;
    display: flex;
    border-radius: 20px;
    align-items: center;
}

.card{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.icons1a{
    width: 100px;
    height: 100px;
    padding: 50px;
}

.titb{
    font-family: 'Roboto Condensed', serif;
    font-size: 30px;
    font-weight: bolder;
    color: #0D2F3F;
}

.texb{
    color: #0D2F3F;
    font-family: 'Roboto Condensed', serif;
    font-size: 24px;
    margin-top: -30px;
}

#columna2a{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#row{
    margin-top: auto;
    margin-bottom: auto;
}

.comple{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}

.tita1{
    font-family: 'Roboto Condensed', serif;
    font-size: 80px;
    color: #0D2F3F;
}
.tita{
    font-family: 'Roboto Condensed', serif;
    font-size: 50px;
    color: #0D2F3F;

}

.tituloexp{
    font-family: 'Roboto Condensed', serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: center; 
    color: #0D2F3F;
    margin-bottom: -60px; 
}

#workexp{
    display: flex;
    flex-direction: column;
    background-color: #F8F7F1;
    background-image: url(/images/deco.PNG);
    background-repeat: no-repeat;
    background-position: 600px;
    background-position-y: 180px;
}

.cuerpoexp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#columna1b{
    width: 75vh;
    margin: 10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#columna2b{
    width: 75vh;
    margin: 10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#lastwork{
    background-color: white;
    padding: 10vh;
}

#headwork{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#correoc{
    color: orangered;
    font-size: 20px;
    font-weight: bold;
}

#titulo1c{
    font-family: 'Roboto Condensed', serif;
    font-size: 30px;
    font-weight: bold;
    color: #0D2F3F; 
}

#carrusel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
}

#cont1c{
    width: 550px;
    height: 500px;
    background-color: #FFCC60;
    border-radius: 20px;
    background-image: url(/images/sus.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#cont2c{
    width: 550px;
    height: 500px;
    background-color: #286f6c;
    border-radius: 20px;
    background-image: url(/images/kira.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100px;
}

.titcontc{
    font-family: 'Roboto Condensed', serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 20px; 
}

.textcontc{
    font-family: 'Roboto Condensed', serif;
    font-size: 20px;
    color: white;
    margin: 20px; 
}

#people{
    background-color: #F8F7F1;
    width: 100%;
    height: 100vh;
}

#peohead{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-family: 'Roboto Condensed', serif;
    color: #0D2F3F;
    font-size: 40px;
    font-weight: bolder;  
}

#textd{
    font-family: 'Roboto Condensed', serif;
    color: #0D2F3F;
    font-size: 20px;
    text-align: center;
    margin-top: -30px;  
}

#contd{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 80px;
}

.profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -40px;
    box-shadow: 0px 0px 5px 1px grey;
}

.text4{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tarjeta1{
    width: 420px;
    height: 230px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    margin-top: 80px;
}

#tarjeta2{
    width: 420px;
    height: 230px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

#tarjeta3{
    width: 420px;
    height: 230px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    margin-top: 80px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
    color: grey;
}

.nombre{
    font-family: 'Roboto Condensed', serif;
    color: #0D2F3F;
    font-size: 25px;
    font-weight: bolder; 
}

.cargo{
    font-family: 'Roboto Condensed', serif;
    font-size: 15px;
    margin-top: -20px;
}



#footbd{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#colum5izq{
    display: flex;
    flex-direction: column;
}

#colum5der{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eslog{
    font-family: 'Roboto Condensed', serif;
    color: #0D2F3F;
    font-size: 60px;
    text-align: left;
}

.start{
    font-family: 'Roboto Condensed', serif;
    color: #0D2F3F;
    font-size: 50px;
}

#texthi{
    color: orangered;
}

#inftit{
    font-family: 'Roboto Condensed', serif;
    color: #0D2F3F;
    font-size: 35px;
    font-weight: bold;
}

#inftext{
    font-family: 'Roboto Condensed', serif;
    color: #0D2F3F;
    font-size: 25px;
}

.nav{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', 'Lucida Sans';
    font-style: inherit;
    padding: 15px;
    color: #0D2F3F;
    font-weight: bold;
    text-decoration:none; 
}

#fin{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

#autor{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #0D2F3F;
}